/AjdemeSi.Database/AjdemeSi.Database.dbmdl
/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_24.publish.sql
/AjdemeSi.Database/bin/Debug/DeploymentReport_25.txt
/AjdemeSi/.gitattributes
/AjdemeSi/.gitignore
/AjdemeSi/.vs/AjdemeSi/v15/.suo
/AjdemeSi/.vs/AjdemeSi/v15/Server/sqlite3/db.lock
/AjdemeSi/.vs/AjdemeSi/v15/Server/sqlite3/storage.ide
/AjdemeSi/.vs/config/applicationhost.config
/AjdemeSi/AjdemeSi.Database/AjdemeSi.Database.csproj
/AjdemeSi/AjdemeSi.Database/AjdemeSi.Database.publish.xml
/AjdemeSi/AjdemeSi.Database/AjdemeSi.Database.sqlproj
/AjdemeSi/AjdemeSi.Database/AjdemeSi.Database.sqlproj.user
/AjdemeSi/AjdemeSi.Database/AjdemeSi_1.Database.publish.xml
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database.dacpac
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database.dll
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database.pdb
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_1.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_10.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_11.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_12.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_13.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_14.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_15.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_16.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_17.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_18.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_19.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_2.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_20.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_21.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_22.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_23.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_24.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_3.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_4.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_5.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_6.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_7.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_8.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_9.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/AjdemeSi.publish.sql
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_1.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_10.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_11.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_12.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_13.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_14.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_15.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_16.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_17.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_18.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_19.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_2.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_20.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_21.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_22.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_23.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_24.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_25.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_3.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_4.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_5.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_6.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_7.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_8.txt
/AjdemeSi/AjdemeSi.Database/bin/Debug/DeploymentReport_9.txt
/AjdemeSi/AjdemeSi.Database/obj/Debug/AjdemeSi.Database.dll
/AjdemeSi/AjdemeSi.Database/obj/Debug/AjdemeSi.Database.pdb
/AjdemeSi/AjdemeSi.Database/obj/Debug/AjdemeSi.Database.sqlproj.FileListAbsolute.txt
/AjdemeSi/AjdemeSi.Database/obj/Debug/CoreCompileInputs.cache
/AjdemeSi/AjdemeSi.Database/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AjdemeSi/AjdemeSi.Database/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AjdemeSi/AjdemeSi.Database/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AjdemeSi/AjdemeSi.Database/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AjdemeSi/AjdemeSi.Domain/AjdemeSi.Domain.csproj
/AjdemeSi/AjdemeSi.Domain/App.Config
/AjdemeSi/AjdemeSi.Domain/bin/Debug/AjdemeSi.Domain.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/AjdemeSi.Domain.dll.config
/AjdemeSi/AjdemeSi.Domain/bin/Debug/AjdemeSi.Domain.pdb
/AjdemeSi/AjdemeSi.Domain/bin/Debug/AutoMapper.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/AutoMapper.xml
/AjdemeSi/AjdemeSi.Domain/bin/Debug/EntityFramework.SqlServer.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/EntityFramework.SqlServer.xml
/AjdemeSi/AjdemeSi.Domain/bin/Debug/EntityFramework.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/EntityFramework.xml
/AjdemeSi/AjdemeSi.Domain/bin/Debug/PagedList.Mvc.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/PagedList.Mvc.xml
/AjdemeSi/AjdemeSi.Domain/bin/Debug/PagedList.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/PagedList.xml
/AjdemeSi/AjdemeSi.Domain/bin/Debug/System.Web.Mvc.dll
/AjdemeSi/AjdemeSi.Domain/bin/Debug/System.Web.Mvc.xml
/AjdemeSi/AjdemeSi.Domain/obj/Debug/AjdemeSi.Domain.csproj.CopyComplete
/AjdemeSi/AjdemeSi.Domain/obj/Debug/AjdemeSi.Domain.csproj.CoreCompileInputs.cache
/AjdemeSi/AjdemeSi.Domain/obj/Debug/AjdemeSi.Domain.csproj.FileListAbsolute.txt
/AjdemeSi/AjdemeSi.Domain/obj/Debug/AjdemeSi.Domain.csprojResolveAssemblyReference.cache
/AjdemeSi/AjdemeSi.Domain/obj/Debug/AjdemeSi.Domain.dll
/AjdemeSi/AjdemeSi.Domain/obj/Debug/AjdemeSi.Domain.pdb
/AjdemeSi/AjdemeSi.Domain/obj/Debug/CoreCompileInputs.cache
/AjdemeSi/AjdemeSi.Domain/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/AjdemeSi/AjdemeSi.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TempPE/AjdemeSiDataSet.Designer.cs.dll
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TempPE/DataModel.Context.cs.dll
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TempPE/DataModel.Designer.cs.dll
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TempPE/DataModel.cs.dll
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AjdemeSi/AjdemeSi.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AjdemeSi/AjdemeSi.Domain/obj/Debug/edmxResourcesToEmbed/DataModel.csdl
/AjdemeSi/AjdemeSi.Domain/obj/Debug/edmxResourcesToEmbed/DataModel.msl
/AjdemeSi/AjdemeSi.Domain/obj/Debug/edmxResourcesToEmbed/DataModel.ssdl
/AjdemeSi.Database/AjdemeSi.Database.dbmdl
/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_25.publish.sql
/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_26.publish.sql
/AjdemeSi.Database/bin/Debug/DeploymentReport_26.txt
/AjdemeSi.Database/bin/Debug/DeploymentReport_27.txt
/AjdemeSi/AjdemeSi.Services/bin/Debug/AjdemeSi.Domain.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/AjdemeSi.Domain.dll.config
/AjdemeSi/AjdemeSi.Services/bin/Debug/AjdemeSi.Domain.pdb
/AjdemeSi/AjdemeSi.Services/bin/Debug/AjdemeSi.Services.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/AjdemeSi.Services.dll.config
/AjdemeSi/AjdemeSi.Services/bin/Debug/AjdemeSi.Services.pdb
/AjdemeSi/AjdemeSi.Services/bin/Debug/AutoMapper.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/AutoMapper.xml
/AjdemeSi/AjdemeSi.Services/bin/Debug/EntityFramework.SqlServer.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/EntityFramework.SqlServer.xml
/AjdemeSi/AjdemeSi.Services/bin/Debug/EntityFramework.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/EntityFramework.xml
/AjdemeSi/AjdemeSi.Services/bin/Debug/PagedList.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/PagedList.xml
/AjdemeSi/AjdemeSi.Services/bin/Debug/System.Web.Mvc.dll
/AjdemeSi/AjdemeSi.Services/bin/Debug/System.Web.Mvc.xml
/AjdemeSi/AjdemeSi.Services/obj/Debug/AjdemeSi.Services.csproj.CopyComplete
/AjdemeSi/AjdemeSi.Services/obj/Debug/AjdemeSi.Services.csproj.CoreCompileInputs.cache
/AjdemeSi/AjdemeSi.Services/obj/Debug/AjdemeSi.Services.csproj.FileListAbsolute.txt
/AjdemeSi/AjdemeSi.Services/obj/Debug/AjdemeSi.Services.csprojResolveAssemblyReference.cache
/AjdemeSi/AjdemeSi.Services/obj/Debug/AjdemeSi.Services.dll
/AjdemeSi/AjdemeSi.Services/obj/Debug/AjdemeSi.Services.pdb
/AjdemeSi/AjdemeSi.Services/obj/Debug/CoreCompileInputs.cache
/AjdemeSi/AjdemeSi.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AjdemeSi/AjdemeSi.Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AjdemeSi/AjdemeSi.Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AjdemeSi/AjdemeSi.Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AjdemeSi/AjdemeSi/bin/AjdemeSi.Domain.dll
/AjdemeSi/AjdemeSi/bin/AjdemeSi.Domain.dll.config
/AjdemeSi/AjdemeSi/bin/AjdemeSi.Domain.pdb
/AjdemeSi/AjdemeSi/bin/AjdemeSi.Services.dll
/AjdemeSi/AjdemeSi/bin/AjdemeSi.Services.dll.config
/AjdemeSi/AjdemeSi/bin/AjdemeSi.Services.pdb
/AjdemeSi/AjdemeSi/bin/AjdemeSi.dll
/AjdemeSi/AjdemeSi/bin/AjdemeSi.dll.config
/AjdemeSi/AjdemeSi/bin/AjdemeSi.pdb
/AjdemeSi/AjdemeSi/bin/Antlr3.Runtime.dll
/AjdemeSi/AjdemeSi/bin/Antlr3.Runtime.pdb
/AjdemeSi/AjdemeSi/bin/ApplicationInsights.config
/AjdemeSi/AjdemeSi/bin/AutoMapper.dll
/AjdemeSi/AjdemeSi/bin/AutoMapper.xml
/AjdemeSi/AjdemeSi/bin/Autofac.Extensions.DependencyInjection.dll
/AjdemeSi/AjdemeSi/bin/Autofac.Extensions.DependencyInjection.xml
/AjdemeSi/AjdemeSi/bin/Autofac.Integration.Mvc.dll
/AjdemeSi/AjdemeSi/bin/Autofac.Integration.Mvc.xml
/AjdemeSi/AjdemeSi/bin/Autofac.dll
/AjdemeSi/AjdemeSi/bin/Autofac.xml
/AjdemeSi/AjdemeSi/bin/EntityFramework.SqlServer.dll
/AjdemeSi/AjdemeSi/bin/EntityFramework.SqlServer.xml
/AjdemeSi/AjdemeSi/bin/EntityFramework.dll
/AjdemeSi/AjdemeSi/bin/EntityFramework.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.Agent.Intercept.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.DependencyCollector.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.DependencyCollector.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.PerfCounterCollector.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.ServerTelemetryChannel.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.ServerTelemetryChannel.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.Web.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.Web.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.WindowsServer.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AI.WindowsServer.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.ApplicationInsights.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.ApplicationInsights.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AspNet.Identity.Core.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AspNet.Identity.Core.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.AspNet.Identity.Owin.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.AspNet.Identity.Owin.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Host.SystemWeb.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Host.SystemWeb.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.Cookies.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.Cookies.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.Facebook.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.Google.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.OAuth.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.OAuth.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.Twitter.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.Security.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.dll
/AjdemeSi/AjdemeSi/bin/Microsoft.Owin.xml
/AjdemeSi/AjdemeSi/bin/Microsoft.Web.Infrastructure.dll
/AjdemeSi/AjdemeSi/bin/Newtonsoft.Json.dll
/AjdemeSi/AjdemeSi/bin/Newtonsoft.Json.xml
/AjdemeSi/AjdemeSi/bin/Owin.dll
/AjdemeSi/AjdemeSi/bin/PagedList.Mvc.dll
/AjdemeSi/AjdemeSi/bin/PagedList.Mvc.xml
/AjdemeSi/AjdemeSi/bin/PagedList.dll
/AjdemeSi/AjdemeSi/bin/PagedList.xml
/AjdemeSi/AjdemeSi/bin/System.Runtime.InteropServices.RuntimeInformation.dll
/AjdemeSi/AjdemeSi/bin/System.Web.Helpers.dll
/AjdemeSi/AjdemeSi/bin/System.Web.Helpers.xml
/AjdemeSi/AjdemeSi/bin/System.Web.Mvc.dll
/AjdemeSi/AjdemeSi/bin/System.Web.Mvc.xml
/AjdemeSi/AjdemeSi/bin/System.Web.Optimization.dll
/AjdemeSi/AjdemeSi/bin/System.Web.Optimization.xml
/AjdemeSi/AjdemeSi/bin/System.Web.Razor.dll
/AjdemeSi/AjdemeSi/bin/System.Web.Razor.xml
/AjdemeSi/AjdemeSi/bin/System.Web.WebPages.Deployment.dll
/AjdemeSi/AjdemeSi/bin/System.Web.WebPages.Deployment.xml
/AjdemeSi/AjdemeSi/bin/System.Web.WebPages.Razor.dll
/AjdemeSi/AjdemeSi/bin/System.Web.WebPages.Razor.xml
/AjdemeSi/AjdemeSi/bin/System.Web.WebPages.dll
/AjdemeSi/AjdemeSi/bin/System.Web.WebPages.xml
/AjdemeSi/AjdemeSi/bin/WebGrease.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.CSharp.Core.targets
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.CodeAnalysis.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/AjdemeSi/AjdemeSi/bin/roslyn/Microsoft.VisualBasic.Core.targets
/AjdemeSi/AjdemeSi/bin/roslyn/System.AppContext.dll
/AjdemeSi/AjdemeSi/bin/roslyn/System.Collections.Immutable.dll
/AjdemeSi/AjdemeSi/bin/roslyn/System.Diagnostics.StackTrace.dll
/AjdemeSi/AjdemeSi/bin/roslyn/System.IO.FileSystem.Primitives.dll
/AjdemeSi/AjdemeSi/bin/roslyn/System.IO.FileSystem.dll
/AjdemeSi/AjdemeSi/bin/roslyn/System.Reflection.Metadata.dll
/AjdemeSi/AjdemeSi/bin/roslyn/VBCSCompiler.exe
/AjdemeSi/AjdemeSi/bin/roslyn/VBCSCompiler.exe.config
/AjdemeSi/AjdemeSi/bin/roslyn/csc.exe
/AjdemeSi/AjdemeSi/bin/roslyn/csc.exe.config
/AjdemeSi/AjdemeSi/bin/roslyn/csc.rsp
/AjdemeSi/AjdemeSi/bin/roslyn/csi.exe
/AjdemeSi/AjdemeSi/bin/roslyn/csi.rsp
/AjdemeSi/AjdemeSi/bin/roslyn/vbc.exe
/AjdemeSi/AjdemeSi/bin/roslyn/vbc.exe.config
/AjdemeSi/AjdemeSi/bin/roslyn/vbc.rsp
/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_27.publish.sql
/AjdemeSi.Database/bin/Debug/AjdemeSi.Database_28.publish.sql
/AjdemeSi.Database/bin/Debug/DeploymentReport_28.txt
/AjdemeSi.Database/bin/Debug/DeploymentReport_29.txt
/AjdemeSi.Database/obj/Debug/Model.xml
/AjdemeSi.Database/obj/Debug/postdeploy.sql
/.vs/AjdemeSi/v15/Server/sqlite3/db.lock
/.vs/AjdemeSi/v15/Server/sqlite3/storage.ide
/.vs/AjdemeSi/v15/Server/sqlite3/storage.ide-shm
/.vs/AjdemeSi/v15/Server/sqlite3/storage.ide-wal
