@using AjdemeSi.Domain.Models.Settings
@model List<CarViewModel>

<div id="ExistingCars">
    <h4>My Cars</h4>

    @foreach (CarViewModel car in Model)
    {
        @Html.Partial("_carDetails", car)
    }
</div>

<div id="FormAddNewCarWrapper" class="col-md-6 col-sm-6 col-xs-12">
    @Html.Partial("_addNewCar", new CarViewModel())
</div>