@model AjdemeSi.Domain.Models.Settings.SettingsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" id="MySettings">
 
    <h4>My Details</h4>

    @if (!Model.UserGeneralViewModel.EmailConfirmed)
    {
        <div class="alert alert-danger" role="alert">
            Your email is not confirmed!   -   TODO
            <input class="btn btn-info" text="Resnd Confirmation" />
        </div>
    }
    else if (Model.UserGeneralViewModel.LockoutEnabled)
    {
        <div class="alert alert-danger" role="alert">
            Your account has been blocked!    -   TODO
        </div>
    }


    @Html.Partial("_userGeneralStatistics", Model.UserGeneralViewModel)

    @Html.Partial("_userResultsStatistics", Model.UserResultsViewModel)


    @if (Model.UserGeneralViewModel.IsDriver)
    {
        <div id="DriverCarsContainer" class="col-md-12">
            <hr />
            @Html.Partial("_carsDetails", Model.CarsViewModel)
        </div>
    }

</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/Custom/settings.js"></script>
}