@using AjdemeSi.Domain.Models.Ride
@model RidePagedListViewModel

<div class="col-lg-12">
    <div class="driver-rides-list-wrapper">
        <div class="driver-rides-list-filters">
            <div class="ui-widget">
                <input type="text" class="input-autocomplete driver-rides-list-filters-country-from" />
                <ul class="autocomplete autocomplete1" id="ddlItem"></ul> 
            </div>
        </div>
    </div>
</div>