@using AjdemeSi.Domain.Models.Ride
@model RideDashboardViewModel

@{
    ViewBag.Title = "Rides";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.UserCommonViewModel.IsDriver)
    {
        if (Model.CarDetails != null)
        {
            @Html.Partial("_DriverNewRide", Model.CarDetails)
            @Html.Partial("_DriverRides", Model.MyRidesListViewModel)
        }
        else
        {
            <div>Please update yout car details - you don't have a default car</div>
        }
    }
    @if (!Model.UserCommonViewModel.IsDriver || Model.UserCommonViewModel.LoadResults)
    {
        @Html.Partial("_RidesList", Model.SuggestedRidesListViewModel)
    }
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/timepicki.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/filters.js"></script>
}