body {
}

#page-wrapper { padding: 0 }
@media (min-width: 768px) {
    #page-wrapper.collapsed     { margin: 0 0 0 50px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
    .sidebar.collapsed          { width: 50px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
    .sidebar.collapsed
    .sidebar-item-description   { display: none; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
}

.entries-list .table thead {
    border-top: 2px solid #ddd;
}
.entries-list .table tbody tr td    { padding: 5px 8px; }

.display-inline-block       { display: inline-block; }

.color-primary          { background-color: #337ab7; color:white; }
.color-primary:hover    { background-color: #286090; }
.table-buttons-bar      { padding: 2px !important; }
.table-button           { margin: 1px; border: 2px solid white; padding: 3px; border-radius: 4px; cursor: pointer; }
.table-button:hover     { border: 2px solid #286090; }

.filter-search-query-wrapper, 
.filter-count-on-page-wrapper   { display: inline-block; margin-right: 10px; }
.filter-search-query            { height: 34px; padding: 6px 12px; border-radius: 4px; }

.filter-user-roles              { display: inline-block; width: 220px; max-width: 300px; }

.pagination { margin: 0 }

.ss-multi-selected  { height: 34px; }
.ss-value-delete    { border: 1px solid white; border-radius: 5px; line-height: 1em; padding: 0 3px; }

.datepicker td      { padding: 5px 7px !important; }

#sidebar-colapse    { display: block; font-size: 30px; border: 1px solid #337ab7; border-radius: 14px; padding: 4px 6px 4px 4px; float: right; margin: 3px; color: #337ab7; background-color: white; cursor: pointer; }

.radio label, .checkbox label { padding-left: 0; }

@media (min-width: 768px) {
    .filter-date-wrapper    { max-width: 150px; }
    .navbar-nav > li > a    { padding: 8px 15px; margin: 7px 0px; }
}

.navbar                 { background: white; border-bottom: 1px solid blue; }
footer                  { display: block; width: 100%; }

.constroller-rides,
.constroller-rides > .container     { padding: 0; }

/*------ custom ------*/

/*------ ride list ----- start */
.driver-ride-filters-container          { width: 100%; height: auto; display: inline-block; }

.driver-ride-summary-container          { }
.driver-ride-fields-section             { display: inline-block; width: 100% }
.driver-ride-field                      { float: left; }
.driver-ride-field input[type=text]     { font-size: 16px !important; }

#DriverNewRide label                    { margin-bottom: 0 !important; }
#DriverNewRide .form-control            { border-radius: 0 !important; border: none !important; border-bottom: 1px solid #ddd !important; border-top: .5px solid #ddd !important; padding: 6px 10px 4px 10px; }
.driver-ride-fields-section-second      { margin-top: 10px; }

span.highlight                          { color: gray; font-weight: bold; }
.ui-menu .ui-menu-item-wrapper          { width: 100% !important; }

.driver-ride-field-long,
.driver-ride-field-short                { padding-left: 0; padding-right: 5px; }
.driver-ride-field-long input           { max-width: 100%; }

.driver-ride-return-header > div        { display: inline-block; top: 20px; float: right; margin-right: 8px; }
.driver-ride-return-header > h2         { display: inline-block; }

.driver-ride-field.mandatory input[type=text]   { background-color: #faf4f4 }
.driver-ride-field.desirable input[type=text]   { background-color: #f0f0ff }
.driver-ride-field.optional input[type=text],
.driver-ride-field.optional textarea            { background-color: #f4fff4 }
.driver-ride-field.disabled input[type=text],
.driver-ride-field.disabled textarea            { background-color: #eeeeee }

.driver-ride-create-ride                { margin-top: 20px; display: inline-block; padding-right: 30px; }
.driver-ride-return-create-ride         { margin-top: 20px; display: inline-block; padding-right: 30px; }

.driver-ride-create-ride-btn,
.driver-ride-return-create-ride-btn             { float: right }
.driver-ride-create-ride-btn.disabled,
.driver-ride-return-create-ride-btn.disabled    { display: none }

.driver-ride-field-textarea             { margin-top: 10px; padding-left: 0 }
.driver-ride-field-additional-info      { width: 100%; max-width: 100%; }

.driver-ride-field-arrival-wrapper.show,     
.driver-ride-return-field-arrival-wrapper.show  { height: 220px; display: inline-block; background-color: #fef6d1; margin-top: 10px; }
.driver-ride-field-arrival-wrapper > p,
.driver-ride-return-field-arrival-wrapper > p   { margin-top: 0; padding: 0 10px; color: white; width: 100%; font-size: 28px; background-color: #e84020; border: 1px solid #e84020; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.driver-ride-return-field-arrival-wrapper > p   { border-top-left-radius: 0; }

.driver-ride-field-arrival-wrapper .driver-ride-summary-label { font-size: 22px; display: inline-block; width: 80px; }

.driver-ride-field-arrival-wrapper,
.driver-ride-return-field-arrival-wrapper       { display: none; padding: 0; font-family: courier new; letter-spacing: -1px; }
.driver-ride-field-arrival-time-table,
.driver-ride-return-field-arrival-time-table    { margin: 15px; font-size: 16px; height: 100px;}

.driver-ride-field-arrival-time-table > p,
.driver-ride-return-field-arrival-time-table > p{ margin: 0 0 5px; }

.diver-ride-summary-data-label      { text-transform: uppercase; font-weight: bold; }
.diver-ride-summary-data-value      { font-weight: bold; background-color: #ff6044; padding: 2px 5px; color: white; }

#RideBottomDelimiter,
#ReturnRideDestination,  
#ReturnRideBottomDelimiter  { height: 10px; width: 100%; background-color: #e84020; border: 1px solid #e84020; }

#RideBottomDelimiter        { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
#ReturnRideDestination      { border-top-right-radius: 10px; }
#ReturnRideBottomDelimiter  { position: absolute; bottom: 0; border-bottom-right-radius: 10px; }

.driver-ride-field-arrival-wrapper.rider-return > p                         { border-top-right-radius: 0; border-right: 2px dashed #882211; }
.driver-ride-field-arrival-wrapper.rider-return > #RideBottomDelimiter      { border-bottom-right-radius: 0; border-right: 2px dashed #882211; }

.driver-ride-price-option,
.driver-ride-return-price-option    { margin-bottom: 1px; width: 100%; }


.timepicker_wrap {
    padding: 10px 0px;
}
.timepicker_wrap > .time    { margin: 0}
.timepicker_wrap > .mins    { margin: 0}    


/*------ ride list ----- end */
/*------ user groups ----- start */
.user-groups-body {
    padding-bottom: 0
}

.user-groups-field > div.ui-widget  { width: 100%; display: inline-block; }

.required-drop-chat                 { margin: 10px; }

.user-group-item                    { border: 2px solid #fff; padding: 8px 5px; margin-bottom: 2px; cursor: pointer; }
.user-group-item:hover              { border-color: #990000 }                    
.user-group-item-active             { border-color: #990000; cursor: default }
.user-group-item-new-msgs-count     { position: absolute; right: 20px; background-color: #990000; color: white; padding: 2px 4px; margin-top: -5px; min-width: 24px; text-align: center; }
.user-group-item-new-msgs-count.no-new-msgs { display: none }
.user-group-item-members            { display: block }

.form-control.user-groups-search    { max-width: 100% }

.user-groups-sidebar-container      { padding-left: 0px; border-right: 1px solid black }
.user-group-chat                    { display: none; }
.user-group-chat-active             { display: block; }
.user-group-chat-header             { height: 50px; width: 100%; border-top: 2px solid #990000; border-bottom: 2px solid #990000; }
.user-group-chat-new-message        { width: 100%; max-width: 100%  }
.user-group-chat-message            { width: 100%; padding-right: 20px }
.user-group-chat-message.right      { float:right; text-align: right; padding-left: 20px }
.user-group-chat-messages-container { overflow-y: scroll; overflow-x: hidden; margin-top: 10px; margin-bottom: 20px }
.user-group-chat-messages-date      { width: 100%; }
.user-group-chat-messages-date > span       { width: 20%; float: left; margin-top: 10px; text-align: center; font-weight: bold }
.user-group-chat-messages-date > .separator { width: 40%; float: left; text-align: center; }

.user-group-chat-message-avatar     { display: inline-block; font-size: 32px; float: left; line-height: 1; } 
.user-group-chat-message-time       { width: 100%; display: block; padding-left: 40px; }
.user-group-chat-message-content    { width: 100%; display: block; padding: 0px 36px; }
.user-group-chat-message-content > span    { display:inline-block; padding: 0px 4px; }
.user-group-chat-message-content.not-seen > span    { background-color: dodgerblue; color: white; }

.user-group-chat-message.right >
.user-group-chat-message-avatar     { float: right; } 
.user-group-chat-message.right >
.user-group-chat-message-time       { padding-right: 40px; }
.user-group-chat-message.right >
.user-group-chat-message-content    { padding-right: 40px; }



/*------ user groups ----- end */
/*------ user settings ----- start */
#DriverCarsContainer {
    padding: 0 !important;
}

.existing-car-wrapper {
    padding: 0 !important;
}



/*------ user settings ----- end */

.home-content-wrapper {
    background-image: url("../Images/cheap-rental-cars-credit-card.jpg");
}

.sign-in-wrapper {
    opacity: 0.7;
    min-width: 320px;
    min-height: 600px;
    float: right;
    background: linear-gradient(#770000, #110000);
    border-color: #770000 !important;
    color: white;
}

.sign-in-wrapper h3{
    text-align:center
}

.sign-in-wrapper .control-label {
    text-align: left
}

.sign-in-wrapper input[type="text"],
.sign-in-wrapper input[type="password"]{
    border-radius: 0;
    width:100%;
    max-width: 100%;
}

.sign-in-button         { border-radius: 0; background: transparent; color: white; border: 1px solid white; }
.sign-in-button:hover   { background-color: #990000; color:white; }    

.sign-in-reg-button         { border-radius: 0; background: #990000 !important; color: white !important; border: 1px solid #990000; }
.sign-in-reg-button:hover,
.sign-in-reg-button:focus   { background-color: #aa0000; color:white !important; }    


.btn-green              { background-color: #377037 !important; border-color: #377037 !important; }

.inner-addon            { position: relative;}
.inner-addon .glyphicon { position: absolute; padding: 10px; pointer-events: none; }
.left-addon .glyphicon  { left: 0px; }
.right-addon .glyphicon { right: 0px; }
.left-addon input       { padding-left: 30px; }
.right-addon input      { padding-right: 30px; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: brown;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: brown;
    opacity: 1;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: brown;
    opacity: 1;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: brown;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: brown;
    font-style: italic;
}

::placeholder { /* Most modern browsers support this now. */
    color: brown;
    font-style: italic;
}
.glyphicon                  { color: brown; }