body {
}

#page-wrapper { padding: 0 }
@media (min-width: 768px) {
    #page-wrapper.collapsed     { margin: 0 0 0 50px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
    .sidebar.collapsed          { width: 50px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
    .sidebar.collapsed
    .sidebar-item-description   { display: none; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
}

.entries-list .table thead {
    border-top: 2px solid #ddd;
}
.entries-list .table tbody tr td    { padding: 5px 8px; }

.display-inline-block       { display: inline-block; }

.color-primary          { background-color: #337ab7; color:white; }
.color-primary:hover    { background-color: #286090; }
.table-buttons-bar      { padding: 2px !important; }
.table-button           { margin: 1px; border: 2px solid white; padding: 3px; border-radius: 4px; cursor: pointer; }
.table-button:hover     { border: 2px solid #286090; }

.filter-search-query-wrapper, 
.filter-count-on-page-wrapper   { display: inline-block; margin-right: 10px; }
.filter-search-query            { height: 34px; padding: 6px 12px; border-radius: 4px; }

.filter-user-roles              { display: inline-block; width: 220px; max-width: 300px; }

.pagination { margin: 0 }

.ss-multi-selected  { height: 34px; }
.ss-value-delete    { border: 1px solid white; border-radius: 5px; line-height: 1em; padding: 0 3px; }

.datepicker td      { padding: 5px 7px !important; }

#sidebar-colapse    { display: block; font-size: 30px; border: 1px solid #337ab7; border-radius: 14px; padding: 4px 6px 4px 4px; float: right; margin: 3px; color: #337ab7; background-color: white; cursor: pointer; }

.radio label, .checkbox label { padding-left: 0; }

@media (min-width: 768px) {
    .filter-date-wrapper    { max-width: 150px; }
    .navbar-nav > li > a    { padding: 8px 15px; margin: 7px 0px; }
}


/*------ custom ------*/
.home-content-wrapper {
    background-image: url("../Images/cheap-rental-cars-credit-card.jpg");
}

.sign-in-wrapper {
    opacity: 0.7;
    min-width: 320px;
    min-height: 600px;
    float: right;
    background: linear-gradient(#770000, #110000);
    border-color: #770000 !important;
    color: white;
}

.sign-in-wrapper h3{
    text-align:center
}

.sign-in-wrapper .control-label {
    text-align: left
}

.sign-in-wrapper input[type="text"],
.sign-in-wrapper input[type="password"]{
    border-radius: 0;
    width:100%;
    max-width: 100%;
}

.sign-in-button         { border-radius: 0; background: transparent; color: white; border: 1px solid white; }
.sign-in-button:hover   { background-color: #990000; color:white; }    

.sign-in-reg-button         { border-radius: 0; background: #990000 !important; color: white; border: 1px solid #990000; }
.sign-in-reg-button:hover   { background-color: #aa0000; color:white; }    


.btn-green              { background-color: #377037 !important; border-color: #377037 !important; }

.inner-addon            { position: relative;}
.inner-addon .glyphicon { position: absolute; padding: 10px; pointer-events: none; }
.left-addon .glyphicon  { left: 0px; }
.right-addon .glyphicon { right: 0px; }
.left-addon input       { padding-left: 30px; }
.right-addon input      { padding-right: 30px; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: brown;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: brown;
    opacity: 1;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: brown;
    opacity: 1;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: brown;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: brown;
    font-style: italic;
}

::placeholder { /* Most modern browsers support this now. */
    color: brown;
    font-style: italic;
}
.glyphicon                  { color: brown; }